/* 售后服务部分样式 */
#after_sale{
    height: 350px;
    font-size: 25px;
    text-align: left;
}

#after_sale ul{
    width: 1100px;
    height: 350px;
    margin: 0px auto;
}

#after_sale li{
    float: left;
    height: 320px;
    margin: 10px 30px;
}

#after_sale li dt{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}
#after_sale li dd{
    height: 20px;
    line-height: 20px;
    margin: 20px 0px;
    font-family: 楷体;
}

#after_sale a:hover{
    color: #ccc;
}