/* 明星机型部分样式 */
#star{
    height: 700px;
    background-color: #F2F2F2;
    overflow: hidden;
}
#star .star_top{
    text-align: center;
    margin: 10px;
}
#star ul{
    width: 1180px;
    margin: 15px auto;
}
#star li{
    width: 270px;
    float: left;
    margin: 0px 5px;
    border-bottom: 4px solid #DFDFDF;
    /* 添加过渡，使列表项向上移动的效果自然一点 */
    transition: all .3s;
}
#star li:hover{
    border-bottom: 4px solid #4FB59D;
    transform: translateY(-10px);
}
#star li img{
    width: 270px;
    height: 410px;
    margin: 10px;
    /* background-color: rgba(53, 6, 97, 0.671); */
}
#star li h2{
    text-align: center;
    margin-top: 10px;
}
#star li p{
    text-align: center;
    margin: 10px 10px;
    color: #BDBDBD;
}
#star .money{
    color: #00925F;
    font-size: 14px;
}
#star li span{
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("../img/icon-buy.png") no-repeat;
    background-size: 13px 13px;
}
#star .line{
    width: 0px;
    height: 450px;
    border-left: 1px solid #EAEAEA;
} 

/* #star .image{
    width: 270px;
    height: 410px;
    margin: 10px;
    background-color: rgba(44, 9, 199, 0.63);
}
#star li img{
    width: 210px;
    height: 360px;
    margin: 25px 30px;
} */